{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search Application Demonstration</h1>
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
    <table>
        <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Genre</th>
        </thead>
        <tbody>
        {% for book in dataSet %}
            <tr>
                <td>{{ book.getTitle }}</td>
                <td>{{ book.getAuthor }}</td>
                <td>{{ book.getYear }}</td>
                <td>{{ book.getNumeric }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
