{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Search Application Demo Stack:</h1>
        <h2>Symfony, Vanilla JS, Sqlite</h2>
        <h6>Concepts in code: unit testing, form search, ES6 event firing</h6>
    </div>
    {{ form(searchForm, {'attr': {'novalidate': 'novalidate'}}) }}
    <table class="table">
        <thead class="table-inverse">
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Genre</th>
        </thead>
        <tbody>
        {% for book in dataSet %}
            <tr>
                <td>{{ book.getTitle }}</td>
                <td>{{ book.getAuthor }}</td>
                <td>{{ book.getYear }}</td>
                <td>{{ book.getNumeric }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
